/application/data.db
/application/fomrs/__pycache__/
/application/models/__pycache__/
/application/routes/__pycache__/
/application/modules/__pycache__/
/application/service/__pycache__/
/application/__pycache__/