<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    {% block styles %}{% endblock styles %}
    {% block tital %}{% endblock tital %}
</head>
<body>
    <div class="header_div">
        
        <h1 class="no-padding">Tom's Flask Site</h1>
    
        <div class="nav-div">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('register') }}">Sign Up</a></li>
            </ul>

            <button class="open-button" onclick="OpenForm()">Login</button>
            <div class="form-pop" id="myForm">
                <div class="form">
                    <form class="form-container" method="POST" action="">
                        {{ form.hidden_tag() }}
            
                        <div>
                            {{ form.user_name.label }}
                            {{ form.user_name }}
            
                        </div>
                        <div>
                            {{ form.password.label }}
                            {{ form.password }}
                        </div>
                        <div>
                            {{ form.remember_user.label }}
                            {{ form.remember_user }}
                        </div>
                        <div>
                            {{ form.submit }}
                        </div>
                    </form>
                    <div>
                        {{ message }}
                    </div>
                </div>
            
            <button class="open-button" onclick="CloseForm()">Close</button>

            </div>


        </div>

    </div>
    
    <div class="main-content">
        {% block body %}{% endblock body %}
    </div>
    <div class="footer-div"><h6 class="no-padding">Tom Hankinson || GitHub <a href="" target="_blank" >Portfolio</a></h6></div>



    <script  type="text/javascript">
        function OpenForm() {
            document.getElementById('myForm').style.display = "block";
        }
        
        function CloseForm() {
            document.getElementById('myForm').style.display = "none";
        }
    </script>
</body>
</html>