{% extends 'layout.html' %}

{% block title %}<title>Login Page</title>{% endblock title %}


{% block body %}

    <div class="form">
        <form class="form-container" method="POST" action="">
            {{ form.hidden_tag() }}

            <div>
                {{ form.user_name.label }}
                {{ form.user_name }}

            </div>
            <div>
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <div>
                {{ form.remember_user.label }}
                {{ form.remember_user }}
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
        <div>
            {{ message }}
        </div>
    </div>

{% endblock body %}