{% extends 'layout.html' %}
{% block styles %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/signup.css') }}">{% endblock styles %}
{% block tital %}<title>Home</title>{% endblock tital %}

{% block body %}


<h2 class="no-padding">Sign Up or Login</h2>
<p>Some features on this site will only be accesable by logging in.
    <br>
    To access these features please sign up bellow.
</p>
    <div class="buttoncontainer">
        
        <div class="login-btn-div" id="LogInBtn">
            <button class="btn-size" onclick="OpenForm()">Login Form</button>
        </div>
        
        <div class="signup-btn-div" id="SignUpBtn">
            <button class="btn-size" onclick="CloseForm()">Sign Up Form</button>
        </div>

    </div>

<div class="form">
    {{ logform.hidden_tag() }}
    <form class="signupform-container" method="POST" action="" id="signUp">
            <div class="signup-info">
                {{ form.user_name.label }}
                {{ form.user_name(placeholder="Enter a username") }}
            </div>
            <div class="signup-info">
                {{ form.first_name.label }}
                {{ form.first_name(placeholder="Enter First Name") }}
            </div>
            <div class="signup-info">
                {{ form.last_name.label }}
                {{ form.last_name(placeholder="Enter Last Name") }}

            </div>
            <div class="signup-info">
                {{ form.user_email.label }}
                {{ form.user_email(placeholder="Enter Email") }}
            </div>            
            <div class="signup-info">
                {{ form.password.label }}
                {{ form.password(placeholder="Enter Password") }}
            </div>
            <div class="signup-info">
                {{ form.password.label }}
                {{ form.confirm_password(placeholder="Confirm Password") }}
            </div>
            <div class="submit-box">
                {{ form.submit(class_="submit-button") }}
            </div>
            
            
    </form>
    <form class="loginform-container" method="POST" action="" id="logIn">
    

        <div class="signup-info">
            {{ logform.user_name.label }}
            {{ logform.user_name }}

        </div>
        <div class="signup-info">
            {{ logform.password.label }}
            {{ logform.password }}
        </div>
        <div class="tick-signup-info">
            <div class="tick-text-div">
                {{ logform.remember_user.label }}
            </div>
            <div class="tick-div">
                {{ logform.remember_user}}
            </div>
        </div>
        <div class="signup-info">
            {{ logform.submit }}
        </div>
    </form>
</div>
    {% if message %}
        <div class="warning"><p class="warningtext">{{ message }} </p></div>
    {% endif %}
</div>
{% endblock body %}


{% block script %}
<script  type="text/javascript">
    function OpenForm() {
        document.getElementById('signUp').style.display = "none";
        document.getElementById('logIn').style.display = "flex";
        document.getElementById('LogInBtn').style.display = "none";
        document.getElementById('SignUpBtn').style.display = "flex";


    }
    
    function CloseForm() {
        document.getElementById('logIn').style.display = "none";
        document.getElementById('signUp').style.display = "flex";
        document.getElementById('LogInBtn').style.display = "flex";
        document.getElementById('SignUpBtn').style.display = "none";
    }

</script>
{% endblock script %}