{% extends 'layout.html' %}
{% block styles %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/adminpage.css') }}">{% endblock styles %}
{% block tital %}<title>Admin Portal</title>{% endblock tital %}

{% block admin %} 
    {% if isAdmin.roles_id== 1 %}
    <li><a  href="{{ url_for('admin')}}">Admin</a></li>
    {% endif %}
{% endblock admin %}

{% block body %}


<div class="page-content">
    <h1>Admin Page</h1>
    <h3>Here you can give users Admin controll or remove users from the site.</h3>
    <div class="users-div">
        {% for user, role in users %}
            <div class="userdetails">
                <p>User Name: {{ user.user_name }}, &nbsp;</p>
                <p>Name: {{ user.first_name.capitalize() }} {{ user.last_name.capitalize() }}, &nbsp;</p>
                <p>Email: {{user.user_email}}</p>
                {% if role.roles_id == 1 %}
                    <p>Admin</p>
                    {% if role.user_id != 1 %}
                    <a href="{{ url_for('deleteuser', id=user.id)}}">Delete</a></td>
                    {% endif %}
                {% else %}
                <a href="{{ url_for('updateuser', id=user.id)}}">Make Admin</a></td>
                <a href="{{ url_for('deleteuser', id=user.id)}}">Delete</a></td>
                {% endif %}
            </div>
            <div><br></div>
        {% endfor %}
        
    </div>

</div>
{% endblock body %}