h2, h3{
    color: white;
}
h2{
    text-decoration-line: underline;
}
.dash-padding{
    padding-top: 10px;
    margin: 0px;
}
.dashboard-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 84vh;
}
.top-dash-div{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 42vh;
}
.user-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 42vh;
}
    .ud-style{
        text-indent: 50px;
        width: 40vw;
        height: 35vh;
        border-radius: 4px;
        background-color: rgba(63, 64, 86, 0.881);
    }
.pass-change{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 42vh;
}
    .pc-style{
        display: flex;
        flex-direction: column;
        width: 40vw;
        height: 35vh;
        border-radius: 4px;
        background-color: rgba(63, 64, 86, 0.881);
    }
.bot-dash-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 42vh;
}