p, h2{
    color: white;
}
.signupform-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(63, 64, 86, 0.881);
    min-width: 25vw;
    height: 55vh;
}
.loginform-container{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(63, 64, 86, 0.881);
    min-width: 25vw;
    height: 55vh;
}
label{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signup-info{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 20vw;
    min-height: 5vh;
}
.tick-signup-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 20vw;
    min-height: 5vh;
}
.tick-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 10vw;
}
.tick-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100px;
}
.submit-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 7vh;
}
.submit-button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 20vw;
    height: 5vh;
}
input{
    border-radius: 4px;
    width: 20vw;
    height: 4vh;
    font-weight: 700;
}
.warning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 5vh;
    background-color: red; 
    border-radius: 4px;
    border: solid 1px black;
}
.warningtext{
    color: black;
}
.signup-btn-div{
    display: none;
}
.login-btn-div{
    display: flex;
}
.buttoncontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20vw;
    min-height: 5vh;
    padding-bottom: 10px;
}
.btn-size{
    width: 15vw;
    height: 5vh;
}